<html lang="en">
<head>
  <title>
    DesignMatch - Discover the World’s Top Designers &amp; Creative Professionals
  </title>
  <meta charset="utf-8">
  <link rel="stylesheet" media="screen, projection" href="https://cdn.dribbble.com/assets/master-f11f6228f4ce7acc0e0e12e3ff0c7800be4f29edb7afd4ea0e69139c5bea15e5.css">
  <link rel="stylesheet" media="screen, projection" href="https://cdn.dribbble.com/assets/home/home-hero-1138be1ef3d16bce21e0086c423e4f4726574fc5d950cff4c10a4d0230c6a20d.css">
  <link rel="stylesheet" media="screen" href="https://cdn.dribbble.com/assets/nouislider-f46aadca4a61fef3e8be5a871ae13002de6c498601a55cd7dd46b218aa865181.css">
  <link rel="stylesheet" media="screen" href="https://cdn.dribbble.com/assets/auto-complete-2e9ec6a4d6417fcc08242b74ef2c9676a6419626cfdfb3e0b0f17cd4652a40c0.css">
  <link rel="stylesheet" media="screen, projection" href="https://cdn.dribbble.com/assets/infinite-50e36a45625f3fbb94c071f9ac2a38d955add68209612686fe5de7b2dcbe4191.css">
  <link rel="stylesheet" href="https://cdn.dribbble.com/assets/attachment-overlay-7e9f0d105045800cc4063dcac3a315f2ba27426a4c9bbdcc7ca3f9c38cc3b787.css" as="style" onload="this.onload=null;this.rel='stylesheet'" data-loadcss="true" media="all">
  <noscript>
    <link rel="stylesheet" href="https://cdn.dribbble.com/assets/attachment-overlay-7e9f0d105045800cc4063dcac3a315f2ba27426a4c9bbdcc7ca3f9c38cc3b787.css">
  </noscript>

  <link rel="stylesheet" href="https://cdn.dribbble.com/assets/master_async-29113bbef8bc13b7ceaa2c358e678c44f8f625c1b7002037b82e177832a721f7.css" as="style" onload="this.onload=null;this.rel='stylesheet'" data-loadcss="true" media="all">
  <noscript>
    <link rel="stylesheet" href="https://cdn.dribbble.com/assets/master_async-29113bbef8bc13b7ceaa2c358e678c44f8f625c1b7002037b82e177832a721f7.css">
  </noscript>
</head>

<body id="shots">

<div id="wrap">

  <div id="home-hero" class="enrique" style="background:#95dbdf;">
    <div class="enrique-content">
      <div class="enrique-cop">
        <h1 class="enrique-heading" style="color:#0D505C;">Discover the best company to sell your creations</h1>
        <br>
        <p class="enrique-text p text-lead" style="color:#0D505C;">DesignMatch is a company that connect designers to
          companies that use our web as a showcase to show their design requirement in specific projects</p>
        <div class="enrique-cta">
          <a class="btn btn-light" data-signup-trigger="true" data-href="/home/register" data-context="homepage-top" data-params="{&quot;source&quot;:&quot;shots&quot;}" href="/home/register">Sign Up</a>
          <a class="btn btn-light" data-signup-trigger="true" data-href="/home/logIn" data-context="homepage-top" data-params="{&quot;source&quot;:&quot;shots&quot;}" href="/home/logIn">Sign In</a>
        </div>
      </div>
      <img class="enrique-image" style="color:#E3A550;" data-loaded="yes" alt="Art by Randy Archie" data-src="https://cdn.dribbble.com/assets/art-banners/cactus4x3-00b2c882ddc01c9d5ebe19c886dc2c87bd18ef7aa1cdc1c53980fc305bcecfca.jpg" src="https://cdn.dribbble.com/assets/art-banners/cactus4x3-00b2c882ddc01c9d5ebe19c886dc2c87bd18ef7aa1cdc1c53980fc305bcecfca.jpg" width="800" height="600">
    </div>
    <p class="enrique-attribution" style="color:#0D505C;">
      <strong>Creators</strong>
      <br>
      <span class="enrique-attribution-location">Jose Felipe Quiroga, Oscar Malagon Murcia, Arnold Andres Lara</span>
    </p>
  </div>


</div>
</body>
</html>
